/* All */
*{
    margin: 0;
    padding: 0;
}
/* Index */
.index-page{
    background-image: url(./images/Health-Center.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.index-page .links{
    background-color: rgb(0 40 255 / 58%);
    height: 45px;
}
.index-page .links a,
.index-page .links p{
    line-height: 40px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
}
.index-page .links a:hover{
    color: #e6e6e6;
}
.index-page .footer a:hover{
    text-decoration: underline;
}
.index-page .footer{
    background-color: #030066;
    height: 35px;
}
.index-page .footer a,
.index-page .footer p{
    line-height: 35px;
    text-decoration: none;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
}

/* Admin Login */
.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
    .rounded-tr-lg-0 {
    border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
      border-bottom-left-radius: 0.5rem;
    }
}

.admin-section{
    height: 100vh;
}

.admin-section .admin-login{
    box-shadow: -10px 10px 20px #BBBBBB;
}

/* Admin User Index */
.action-sort .dataTable-sorter::before,
.action-sort .dataTable-sorter::after{
    display: none!important;
}

.action-sort a{
    cursor: default;
}